<div class="global-article-container">
    <div class="article-body d-flex flex-column bd-highlight" *ngFor="let article of articles">
        <div class="global-header d-flex flex-row bd-highlight mb-3">
            <div class="avatar-image  p-2 bd-highlight">
                <img src={{article.author.image}} />
            </div>
            <div class="d-inline-flex flex-column bd-highlight" style="margin-left: 3px;">
                <ul>
                    <li class="d-flex align-items-start" style="margin-top: auto; color: #907cff; font-size: 13px;">{{ article.author.username }}</li>
                    <li class="d-flex align-items-end" style="font-size:8px;">{{ article.createdAt | date }}</li>
                </ul>
            </div>
            <div class="ml-auto p-2 bd-highlight">
                <button class="button-count"><i class="fas fa-heart"></i>{{article.favoritesCount}}</button>
            </div>
        </div>
        <div class="d-flex flex-column bd-highlight global-content">
            <div class="content-header p-2 bd-highlight">
                {{ article.title }}
            </div>
            <div class="content-body p-2 bd-highlight">
                {{ article.description }}
            </div>
        </div>
        <div class="d-inline-flex bd-highlight mb-3">
            <div class="mr-auto p-2 bd-highlight">
                <a class="read-more-link" href="">Read more...</a>
            </div>
            <div class="p-2 bd-highlight">
                <button class="button-tags">virus</button>
            </div>
            <div class="p-2 bd-highlight">
                <button class="button-tags">COVID-19</button>
            </div>
        </div>
        <hr class="new4">
    </div>
    <div class="paginator">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
            </ul>
        </nav>
    </div>
    <!-- <ul>
        <li *ngFor="let article of articles">
            {{ article.createdAt | date }}
        </li>
    </ul> -->
</div>
