<div class="login-container 100-vw">
    <div class="login-header">
        <div class="login-header-text">Sign in</div>
        <div class="login-sub-text">Have an account?</div>
    </div>
    <div class="form-content">
        <form [formGroup]= "loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input formControlName="email" class="form-control form-control-lg" type="email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                </div>
            </div>
            <div class="form-group">
                <input formControlName="password" class="form-control form-control-lg" type="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-lg">Sign in</button>
            </div>
        </form>
    </div>
</div>
