<div class="register-container 100-vw">
    <div class="header">
        <div class="register-header-text">Sign up</div>
        <div class="sub-text">Have an account?</div>
    </div>
    <div class="form-content">
        <form [formGroup]= "registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input formControlName="userName" class="form-control" type="text" placeholder="Username">
            </div>
            <div class="form-group">
                <input formControlName="email" class="form-control" type="text" placeholder="Email">
            </div>
            <div class="form-group">
                <input formControlName="password" class="form-control" type="password" placeholder="Password">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-secondary btn-lg">Sign up</button>
            </div>
        </form>
    </div>
</div>
