<div class="register-container 100-vw">
    <div class="header">
        <div class="register-header-text">Sign up</div>
        <div class="sub-text">Have an account?</div>
    </div>
    <div class="form-content">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input formControlName="username" class="form-control" type="text" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">User Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <input formControlName="email" class="form-control" type="email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                </div>
            </div>
            <div class="form-group">
                <input formControlName="password" class="form-control" type="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-lg">Sign up</button>
            </div>
        </form>
    </div>
</div>
