.editor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin-top: 0;
}

.form-content {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

input[type=text] {
    width: 900px;
    height: 85px;
    padding: 16px 24px;
    margin: 12px 0;
    box-sizing: border-box;
    border-radius: 15px;
}

textarea {
    border-radius: 15px;
}

.btn-lg {
    float: right;
    background-color: #907cff;
    color: white;
    border: none;
    font-size: 25px;
    padding: 15px 32px;
    margin: 4px 2px;
}