<div class="home-container vw-100">
    <div class="d-flex bd-highlight mb-3">
        <div class="home-header-text mr-auto p-2 bd-highlight">eBlog</div>
        <div class="p-2 bd-highlight">
            <a routerLink="/" routerLinkActive="active">Home</a>
        </div>
        <div class="p-2 bd-highlight">
            <a routerLink="login" *ngIf="!currentUser">Sign in</a> 
        </div>
        <div class="p-2 bd-highlight">
            <a routerLink="register" *ngIf="!currentUser">Sign up</a> 
        </div>
        <div class="p-2 bd-highlight" *ngIf="currentUser">
            <a routerLink="create-article"><i class="far fa-file"></i> New Articles</a> 
        </div>
        <div class="p-2 bd-highlight" *ngIf="currentUser">
            <a routerLink="settings"><i class="fas fa-cog"></i> Settings</a> 
        </div>
        <div class="p-2 bd-highlight" *ngIf="currentUser">
            <a routerLink="admin">Admin</a> 
        </div>
        <div class="p-2 bd-highlight" *ngIf="currentUser">
            <a (click)="logout()">Logout</a> 
        </div>
    </div>
</div>

